# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ Popular languages for Data Science
+ Commonly used libraries for Data Science
+ Data science tools
+ Arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. ggplot

|Data Science Tools|
--------------------
|Jupyter notebook|
|R studio|
|Jupyter lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
x=200/60
print(x, "min")

3.3333333333333335 min

## Author
Rushikesh Pawar